# Employee Attrition Classification

## Data Loading

In [1]:
# Importing dataset via kaggle

!kaggle datasets download -d stealthtechnologies/employee-attrition-dataset

Dataset URL: https://www.kaggle.com/datasets/stealthtechnologies/employee-attrition-dataset
License(s): apache-2.0
Downloading employee-attrition-dataset.zip to /home/bhxveshhh/ML/Employee Attrition Classification
100%|██████████████████████████████████████| 1.72M/1.72M [00:01<00:00, 1.11MB/s]
100%|███████████████████████████████████████| 1.72M/1.72M [00:01<00:00, 984kB/s]

In [2]:
# Exporting dataset from zipfile

import zipfile
zip_ref = zipfile.ZipFile('/home/bhxveshhh/ML/Employee Attrition Classification/employee-attrition-dataset.zip', 'r')
zip_ref.extractall('/home/bhxveshhh/ML/Employee Attrition Classification')
zip_ref.close()

## Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

df = pd.concat([train, test], ignore_index=True)

In [3]:
df.head()

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,8410,31,Male,19,Education,5390,Excellent,Medium,Average,2,...,0,Mid,Medium,89,No,No,No,Excellent,Medium,Stayed
1,64756,59,Female,4,Media,5534,Poor,High,Low,3,...,3,Mid,Medium,21,No,No,No,Fair,Low,Stayed
2,30257,24,Female,10,Healthcare,8159,Good,High,Low,0,...,3,Mid,Medium,74,No,No,No,Poor,Low,Stayed
3,65791,36,Female,7,Education,3989,Good,High,High,1,...,2,Mid,Small,50,Yes,No,No,Good,Medium,Stayed
4,65026,56,Male,41,Education,4821,Fair,Very High,Average,0,...,0,Senior,Medium,68,No,No,No,Fair,Medium,Stayed

In [4]:
df.shape

(74498, 24)

In [5]:
df.size

1787952

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74498 entries, 0 to 74497
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Employee ID               74498 non-null  int64
 1   Age                       74498 non-null  int64
 2   Gender                    74498 non-null  object
 3   Years at Company          74498 non-null  int64
 4   Job Role                  74498 non-null  object
 5   Monthly Income            74498 non-null  int64
 6   Work-Life Balance         74498 non-null  object
 7   Job Satisfaction          74498 non-null  object
 8   Performance Rating        74498 non-null  object
 9   Number of Promotions      74498 non-null  int64
 10  Overtime                  74498 non-null  object
 11  Distance from Home        74498 non-null  int64
 12  Education Level           74498 non-null  object
 13  Marital Status            74498 non-null  object
 14  Number of Dependents      74498 non-null  int64
 15  Job Level                 74498 non-null  object
 16  Company Size              74498 non-null  object
 17  Company Tenure            74498 non-null  int64
 18  Remote Work               74498 non-null  object
 19  Leadership Opportunities  74498 non-null  object
 20  Innovation Opportunities  74498 non-null  object
 21  Company Reputation        74498 non-null  object
 22  Employee Recognition      74498 non-null  object
 23  Attrition                 74498 non-null  object
dtypes: int64(8), object(16)
memory usage: 13.6+ MB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Employee ID,74498.0,37249.500000,21505.864514,1.0,18625.25,37249.5,55873.75,74498.0
Age,74498.0,38.529746,12.083456,18.0,28.00,39.0,49.00,59.0
Years at Company,74498.0,15.721603,11.223744,1.0,7.00,13.0,23.00,51.0
Monthly Income,74498.0,7299.379514,2152.508566,1226.0,5652.00,7348.0,8876.00,16149.0
Number of Promotions,74498.0,0.832935,0.995289,0.0,0.00,1.0,2.00,4.0
Distance from Home,74498.0,49.991584,28.513611,1.0,25.00,50.0,75.00,99.0
Number of Dependents,74498.0,1.650326,1.553633,0.0,0.00,1.0,3.00,6.0
Company Tenure,74498.0,55.727456,25.399349,2.0,36.00,56.0,76.00,128.0

In [8]:
df.isnull().sum()

Employee ID                 0
Age                         0
Gender                      0
Years at Company            0
Job Role                    0
Monthly Income              0
Work-Life Balance           0
Job Satisfaction            0
Performance Rating          0
Number of Promotions        0
Overtime                    0
Distance from Home          0
Education Level             0
Marital Status              0
Number of Dependents        0
Job Level                   0
Company Size                0
Company Tenure              0
Remote Work                 0
Leadership Opportunities    0
Innovation Opportunities    0
Company Reputation          0
Employee Recognition        0
Attrition                   0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.nunique()

Employee ID                 74498
Age                            42
Gender                          2
Years at Company               51
Job Role                        5
Monthly Income               9842
Work-Life Balance               4
Job Satisfaction                4
Performance Rating              4
Number of Promotions            5
Overtime                        2
Distance from Home             99
Education Level                 5
Marital Status                  3
Number of Dependents            7
Job Level                       3
Company Size                    3
Company Tenure                127
Remote Work                     2
Leadership Opportunities        2
Innovation Opportunities        2
Company Reputation              4
Employee Recognition            4
Attrition                       2
dtype: int64

In [11]:
df['Attrition'].unique()

array(['Stayed', 'Left'], dtype=object)

In [12]:
df['Attrition'].value_counts()

Attrition
Stayed    39128
Left      35370
Name: count, dtype: int64

## Data Preprocessing

In [13]:
# Label Encoding

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Attrition'] = le.fit_transform(df['Attrition'])
df['Job Role'] = le.fit_transform(df['Job Role'])
df['Marital Status'] = le.fit_transform(df['Marital Status'])
df['Gender'] = le.fit_transform(df['Gender'])
df['Overtime'] = le.fit_transform(df['Overtime'])
df['Employee Recognition'] = le.fit_transform(df['Employee Recognition'])
df['Work-Life Balance'] = le.fit_transform(df['Work-Life Balance'])
df['Job Satisfaction'] = le.fit_transform(df['Job Satisfaction'])
df['Performance Rating'] = le.fit_transform(df['Performance Rating'])
df['Education Level']= le.fit_transform(df['Education Level'])
df['Job Level']= le.fit_transform(df['Job Level'])
df['Company Size']= le.fit_transform(df['Company Size'])
df['Remote Work']= le.fit_transform(df['Remote Work'])
df['Leadership Opportunities'] = le.fit_transform(df['Leadership Opportunities'])
df['Innovation Opportunities'] = le.fit_transform(df['Innovation Opportunities'])
df['Company Reputation']=le.fit_transform(df['Company Reputation'])

In [14]:
X = df.drop(['Attrition'], axis=1)
y = df['Attrition']

In [15]:
# Train Test Split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Model Building

In [16]:
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [17]:
logistic_clf = LogisticRegression()
ridge_clf = RidgeClassifier()
xgboost_clf = XGBClassifier()
random_forest_clf = RandomForestClassifier()
ada_boost_clf = AdaBoostClassifier()
grad_boost_clf = GradientBoostingClassifier()
bagging_clf = BaggingClassifier()
decision_tree_clf = DecisionTreeClassifier()
svm_clf = SVC()

In [19]:
model_li = [logistic_clf, ridge_clf, xgboost_clf, random_forest_clf, 
            ada_boost_clf, grad_boost_clf, bagging_clf, decision_tree_clf, svm_clf]

scores = []
for model in model_li:
    model.fit(X_train, y_train)
    scores.append(accuracy_score(y_test, model.predict(X_test)))

print(scores)

[0.5865100671140939, 0.7229530201342282, 0.7555704697986577, 0.751006711409396, 0.756510067114094, 0.7585234899328859, 0.7195302013422818, 0.6690604026845638, 0.523758389261745]